.left {
  &__spinner {
    display: block;
    margin: 20px auto;
  }
}

.top {
  &__form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__input {
    flex-grow: 1;
  }

  &__last-row {
    display: flex;
    gap: 10px;
  }

  &__error {
    flex-grow: 1;
  }
}

.right {
  &__match {
    margin-top: 30px;
    margin-bottom: 20px !important;
  }

  &__alert {
    margin-top: 10px;
  }
}

.layout {
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 200px 1fr 300px;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "left top top"
    "left center right";

  &__top {
    grid-area: top;
    overflow: auto;
  }

  &__left {
    grid-area: left;
    overflow: auto;
  }

  &__center {
    grid-area: center;
    overflow: auto;
  }

  &__right {
    grid-area: right;
    overflow: auto;
  }
}
