.scriptName {
  display: block;
  cursor: pointer;
  opacity: 0.5;
}

.scriptName.isOpen {
  opacity: 1;
}

.top {
  &__form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__input {
    flex-grow: 1;
  }
}
