.scriptName {
  display: block;
  cursor: pointer;
  opacity: 0.5;
}

.scriptName.isOpen {
  opacity: 1;
}

.left {
  &__spinner {
    display: block;
    margin: 20px auto;
  }
}

.top {
  &__form {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  &__input {
    flex-grow: 1;
  }

  &__last-row {
    display: flex;
    gap: 10px;
  }

  &__error {
    flex-grow: 1;
  }
}

.right {
  &__match {
    margin-top: 30px;
    margin-bottom: 20px !important;
  }

  &__alert {
    margin-top: 10px;
  }
}
